@model IEnumerable<Department>
@{
    ViewBag.Title = "Department";
}

<h2>Department</h2>
<p>@Html.ActionLink("Add New Department", "Create")</p>

<table class="table">
    <tr>
        <th>Department Name</th>
        <th>Budget</th>
        <th>Status</th>
        <th></th>
    </tr>
    @if(Model.Count() > 1)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.Budget</td>
                <td>@item.Status</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
    
</table>